@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@media (min-width: 240px) {
  html {
    font-size: 45%;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 62.5%;
  }
}
